.composer {
    padding: 5.6vw;
    min-height: 80vh;

    &__container {
        max-width: 80%;
        margin: auto;

        @media (max-width: 1024px) {
            max-width: 90%;
        }
    }

    h2 {
        text-transform: uppercase;

        @media (max-width: 768px) {
            margin-top: 40px;
            font-size: 24px;
        }
    }

    &__content {
        display: flex;
        margin-top: 48px;

        @media (max-width: 1024px) {
            display: grid;
            margin-top: 8px;
        }

        img {
            max-width: 520px;
            width: 100%;
            border-radius: 10px;

            @media (max-width: 1024px) {
                margin-top: 12px;
                margin-bottom: 16px;
            }

            &:hover {
                transform: scale(1.05);
                transition: 0.5s;
            }
        }

        &__text {
            margin-right: 36px;
            width: 100%;

            h3 {
                @media (max-width: 768px) {
                    font-size: 20px;
                }
            }

            p {
                margin-top: 24px;
                text-align: justify;

                @media (max-width: 768px) {
                    margin-top: 8px;
                    font-size: 14px;
                    max-width: 100%;;
                }
            }
        }
    }
}
